/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
/* anek-telugu-regular - latin */

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Telugu';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/anek-telugu-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* alegreya-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/alegreya-sc-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
      background-image: url("images/bats background.jpg");
      padding: 0;
      margin: 0;
}

p, ul, .planyourtrip, form {
      font-family: 'Anek Telugu';
      color: white;
     
}

h1 {
      text-align: center;
}



h2 {
      margin-right: 15px;
      margin-left: 15px;
}

h1, h2 {
        font-family: 'Alegreya SC';
      color: white;
     
}

.dining-title {
      font-size: 75px; 
}

p {
      font-size: 20px;
      margin-right: 15px;
      margin-left: 15px;
}

nav ul {
  list-style: none;
  display: flex;  
  justify-content: center;
  flex-direction: row;
  gap: 20px; 
  background-color: black;
  padding: 30px;
  margin: 0px;
}

nav ul li {
  background-color: yellow;
  padding: 5px;
  border-radius: 5px; 
}

.heroimage {
 position: relative; 
 width: 100%;
 margin:0;
 padding:0;
 display: block;
 text-align: center;
}

.gotham {
      height: 100%;
      width: 100%;
}

.title {
      position: absolute; 
      top: 10%;
      text-align: center;
      width: 100%;
      color: white;
      opacity: 0;
      animation: fadeIn ease-in 2s forwards;
      font-size: 100px;
}

@keyframes fadeIn {
      from {opacity:0;}
      to {opacity:1;}
}

.planyourtrip {
      position: absolute;
      display: inline-block;  
      margin-top: -370px;
      padding: 0;
      background-color: black;
      color: white;
      font-size: 20px; 
      text-align: center;
      border-radius: 5px;     
      left: 45%;
}

.iceberg {
      float: right;
      margin-right: 10px; 
      margin-bottom: 10px; 
}

.diner {
      float: right;
      margin-right: 10px; 
      margin-bottom: 10px; 
}

.batburger {
      float: right;
      margin-right: 10px; 
      margin-bottom: 10px; 
}

.text-width {
      width: 400px;
      padding: 5px; 
}

.dining-images {
      margin-right: 25px; 
}
.dining-headers {
      padding: 5px; 
      font-size: 25px;
}

.book-a-table {
      position: relative;
      display: inline-block;
      padding: 5px;
      background-color: black;
      color: white;
      font-size: 20px; 
      text-align: center;
      border-radius: 5px;     
      left: 80px;
      bottom:  20px; 
}

footer {
      
      background-color: grey;
      color: white;
      text-align: center;
      padding: 3px; 
      width: 100%
}

a:link {
      color: yellow;
}

a:visited {
      color: slategrey;
}
