/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
/* anek-telugu-regular - latin */

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Telugu';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/anek-telugu-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* alegreya-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Alegreya SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/alegreya-sc-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
      background-image: url("images/bats background.jpg");
}

p, ul, .planyourtrip {
      font-family: 'Anek Telugu'
     
}

h1 {
      text-align: center;
}

h1, h2 {
        font-family: 'Alegreya SC';
     
}

nav ul {
  list-style: none;
  display: flex;  
  justify-content: center;
  flex-direction: row;
  gap: 20px; 
}

nav ul li {
  background-color: dodgerblue;
  padding: 5px;
  border-radius: 5px; 
}

.heroimage {
 position: relative; 
 width: 100%;
 margin:0;
 padding:0;
 display: block;
}

.gotham {
      height: 100%;
      width: 100%;
}

.title {
      position: absolute; 
      top: 10%;
      left: 15%;
      color: white;
      opacity: 0;
      animation: fadeIn ease-in 2s forwards;
      font-size: 100px;
}

@keyframes fadeIn {
      from {opacity:0;}
      to {opacity:1;}
}

.planyourtrip {
      position: absolute;
      display: inline-block;  
       margin-top: -370px;
      padding:0;
      position: absolute;
      background-color: black;
      color: white;
      font-size: 20px; 
      left: 45%;     
      text-align: center;
      border-radius: 5px;
}

.indexbutton {
      text-align: center;
     
}
