/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */

/* hind-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/hind-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}
              

/* sonsie-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sonsie One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/sonsie-one-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {font-size: 20px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
  background-image: url("images/vintage-wallpaper.webp");    
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Sonsie One', sans-serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 1.75em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

body {
      display: flex;
      flex-direction: column;
      align-items: center;
}

p {
 font-family: 'Hind';
}

h1 {
     color: #ffb703;
      text-decoration: underline; 
      text-decoration-color: #ffb703;
}

h2 {
      color: #fb8500;
}

h1, h2 {
  font-family: 'Sonsie One';
}

.container-1 {
display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.member-1-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-1-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-1-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.container-2 {
display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.member-2-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-2-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-2-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.container-3 {
display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.member-3-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-3-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-3-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.container-4 {
display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.member-4-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-4-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-4-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.container-5 {
display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.member-5-bio {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-5-heading {
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.member-5-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 5px;
      align-items: flex-start;
      text-align: left;
}

img {
      width: 300px;
      height: 350px;
      object-fit: cover;
      
}
