/* styles.css */

h1, h2 {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: DarkBlue;
}


p, li {
  font-family: "Sono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "MONO" 1;
  color: DarkBlue;
}
