/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
/* anonymous-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/anonymous-pro-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bayon-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bayon';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bayon-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2 {
      text-align: center;
}

p {
      font-family: 'Anonymous Pro';
}

body {
       align-items: center;
     /*  background-image: url("images/absolute-cinema.webp"); */
     /*  background-image: url("images/old-cinema.jpg"); */
      background-repeat: no-repat; 
}


img {
      width: 300px;
      height: 445px;

      object-fit: cover;
}

.intro {
       text-align: center;
}

.grid {
      display: grid;
      gap: 10px;
      margin-bottom: 10px; 
      place-items: center; 
      place-content: center; 
      grid-template-columns: repeat(3,1fr); 
      grid-template-columns: repeat(4,1fr); 
}

.almost-famous {
      display: flex; 
      flex-direction: column;
}

.spider-man {
      display: flex;
      flex-direction: column;
}

.zodiac {
      display: flex;
      flex-direction: column;
}

.donnie-darko {
      display: flex;
      flex-direction: column;
}

.blade-runner {
      display: flex;
      flex-direction: column;
}

.the-holdovers {
      display: flex;
      flex-direction: column;
}

.whiplash {
      display: flex;
      flex-direction: column;
}

.love-&-mercy {
      display: flex;
      flex-direction: column;
}

.baby-driver {
      display: flex;
      flex-direction: column;
}

.scott-pilgrim {
      display: flex;
      flex-direction: column;
}

.social-network {
      display: flex;
      flex-direction: column;
}

.500-days {
      display: flex;
      flex-direction: column;
}
