/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
/* anonymous-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anonymous Pro';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/anonymous-pro-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* bayon-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bayon';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/bayon-v36-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1 {
      text-decoration: underline; 
      color: white;
      font-size: 300%;
      
}

h2 {
    color: #a93013;
}

h1, h2 {
      text-align: center;
      font-family: 'Bayon';
      
}

p {
      font-family: 'Anonymous Pro';
      color: white; 
}

body {
       align-items: center;
       background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1010%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(26%2c 26%2c 26%2c 1)'%3e%3c/rect%3e%3cpath d='M-62.63476147193758-1.8620393066015026L-7.9393115231351175 156.98508139408366 150.90780917755006 102.2896314452812 96.21235922874759-56.557489255403965z' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M57.951%2c132.771C86.676%2c133.023%2c117.828%2c125.681%2c131.578%2c100.46C144.944%2c75.943%2c131.533%2c47.713%2c117.48%2c23.583C103.555%2c-0.328%2c85.62%2c-25.682%2c57.951%2c-25.961C29.969%2c-26.243%2c10.18%2c-1.941%2c-3.69%2c22.363C-17.404%2c46.393%2c-26.957%2c75.028%2c-13.47%2c99.186C0.275%2c123.806%2c29.755%2c132.523%2c57.951%2c132.771' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-71.4957043532143 21.83762898011912L12.504295646785778 167.32989681590476 157.9965634825714 83.32989681590469 73.99656348257135-62.16237101988095z' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1468.11547704622 0.9593294901331149L1376.3704480858528-63.28123138118402 1325.8821212590606 106.4565924950252z' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1508.802084688236 98.97280395427504L1435.1557320276709-52.02459582398501 1284.158332249411 21.621756836579962 1357.804684909976 172.61915661484z' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1290.6808817854035 57.628891267479744L1460.2841858391569 148.01600520061263 1457.3521815576933-19.958407585661092z' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M93.503%2c664.123C133.869%2c662.753%2c161.105%2c627.147%2c180.178%2c591.545C197.942%2c558.387%2c206.462%2c519.704%2c188.613%2c486.591C169.916%2c451.904%2c132.903%2c431.362%2c93.503%2c430.742C52.972%2c430.104%2c13.491%2c448.502%2c-6.942%2c483.511C-27.531%2c518.786%2c-23.851%2c562.101%2c-4%2c597.796C16.476%2c634.615%2c51.397%2c665.552%2c93.503%2c664.123' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M167.93663778538263 573.9457743078613L130.14486065561334 410.25160342394173-33.54931022830618 448.043380553711 4.242466901463104 611.7375514376305z' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-74.70871643193851 485.6300878897772L26.3962074576056 619.8008535777224 160.56697314555078 518.6959296881782 59.46204925600668 384.5251640002331z' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1363.163%2c535.45C1383.566%2c534.876%2c1404.904%2c530.801%2c1415.973%2c513.652C1427.9%2c495.174%2c1427.329%2c471.497%2c1416.964%2c452.1C1405.943%2c431.477%2c1386.545%2c414.671%2c1363.163%2c414.828C1339.994%2c414.984%2c1322.088%2c432.695%2c1310.598%2c452.815C1299.222%2c472.736%2c1292.632%2c497.419%2c1304.944%2c516.775C1316.667%2c535.205%2c1341.329%2c536.064%2c1363.163%2c535.45' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1277.2152048073654 581.5836950517913L1443.1468460273486 607.8646851785501 1303.496194934124 415.6520538318082z' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1307.5458091996938 557.5338007260976L1498.6971533663423 537.6271502194278 1402.3363120593665 400.0096067788772z' fill='rgba(213%2c 56%2c 17%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1010'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}


img {
      width: 300px;
      height: 445px;

      object-fit: cover;
}

.intro {
       text-align: center;
}

.grid {
      display: grid;
      gap: 10px;
      margin-bottom: 10px; 
      place-items: center; 
      place-content: center; 
      grid-template-columns: repeat(4,1fr); 
      grid-auto-rows: 1fr;
}

.item {
      display: flex;
      flex-direction: column; 
      gap: 10px;
      
      align-items: center; 
      text-align: center; 
}

.item h2 {
      margin:0;
      height: 80px;
      display: flex;
      align-items: center; 
      justify-content: center;
}


