/* Some selectors to get you started */
/* amiko-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Amiko';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amiko-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* allerta-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Allerta';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/allerta-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
 background-image: url(images/canadian-dollar.webp);
 margin: 0px; 

}



h1 {
text-align: center; 
	color: white; 
	font-size: 75px; 

}

h2 {
    font-size: 50px; 
	color: #fcf9ec;
}

h3 {

	
}


p {
text-align: center;
	margin-left: 300px;  /*line text up with images*/
	margin-right: 300px;
	font-size: 20px; 
}

a {
background-color: #12d3cf;

}

ol {


}

ul {


}

li {
	background-color: #12d3cf;
	
}

img {
	width: 687px; 
	height: 313px;
}

.career {
	  display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 60px;
	background-color: #20a8a6;
	max-width: 1000px;
	justify-content: center; 
	margin: 0 auto;
	
}

.header {
	background-color: #222222; 
	padding: 35px; 
	color: white;
	
}


