/* Some selectors to get you started */

body {


}



h1 {
text-align: center; 

}

h2 {

	
}

h3 {

	
}


p {
text-align: center;
	margin: 15px;

}

a {


}

ol {


}

ul {


}

li {

	
}

img {
	width: 687px; 
	height: 313px;
}

.career {
	  display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 60px;
}




