/* Some selectors to get you started */

body {
 background-image: url(images/canadian-dollar.webp);
 margin: 0px; 

}



h1 {
text-align: center; 
	color: white; 
	font-size: 75px; 

}

h2 {
    font-size: 50px; 
	color: #fcf9ec;
}

h3 {

	
}


p {
text-align: center;
	margin-left: 300px;  /*line text up with images*/
	margin-right: 300px;
	font-size: 20px; 
}

a {


}

ol {


}

ul {


}

li {
	background-color: #12d3cf;
	
}

img {
	width: 687px; 
	height: 313px;
}

.career {
	  display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 60px;
	background-color: #20a8a6;
	max-width: 1000px;
	justify-content: center; 
	margin: 0 auto;
	
}

.header {
	background-color: #222222; 
	padding: 35px; 
	color: white;
	
}


