/* Some selectors to get you started */

body {
 background-image: url(images/canadian-dollar.webp);

}



h1 {
text-align: center; 
	color: white; 

}

h2 {

	
}

h3 {

	
}


p {
text-align: center;
	margin-left: 350px;  /*line text up with images*/
	margin-right: 350px;
}

a {


}

ol {


}

ul {


}

li {

	
}

img {
	width: 687px; 
	height: 313px;
}

.career {
	  display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 60px;
}

.header {
	background-color: #222222; 
	padding: 50px; 
	color: white;
}


