@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Devanagari';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/anek-devanagari-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cascadia-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cascadia-code-v5-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2, h3 {
     font-family: 'Anek Devanagari';
}

body {
  font-size: 20px; 
  background-image: url(images/more-leaves-on-green.png);
}
h1 {
  font-size: 2.5em; 
  color: #CC9900; 
}
h2 {
  font-size: 2em;
  color: #CD7F32;
}
h3 {
  font-size: 1.5em;
  color: #FF7F50;
}
p {
   font-family: 'Cascadia Code';
  font-size: 1em; 
}
